
<h1>Dice Roll</h1>
    <form action="/process_roll">
      <label for="dice_id">Number of dice to roll?</label>
      <input name="dice" id="dice_id">
      <label for="side_id">How many sides per die?</label>
      <input name="sides" id="side_id">
      <button>Roll</button>
    </form>
