<h1>5d3</h1>

<a href="/process_roll?dice=5&sides=3">Roll again</a>

|

<a href="/">Go back home</a>

# turn these into loop 
<ol>
    <li>
      <em>Result:</em> <strong>1</strong>
    </li>
    <li>
      <em>Result:</em> <strong>1</strong>
    </li>
    <li>
      <em>Result:</em> <strong>3</strong>
    </li>
    <li>
      <em>Result:</em> <strong>2</strong>
    </li>
    <li>
      <em>Result:</em> <strong>3</strong>
    </li>
</ol>
