<!DOCTYPE html>
<html>
  <head>
    <title>Dice Roll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <h1>Dice Roll</h1>
    <form action="/process_roll">
      <input name="dice" id="dice_id">
      <label for="dice_id">Number of dice to roll?</label>
      <input name="sides" id="side_id">
      <label for="side_id">How many sides per die?</label>
      <button>Roll</button>
    </form>
  </body>
</html>
